/* Add CSS Styling */
/* 
  The first element: a black background and white text
  The second element: a yellow background
  Both elements: a font size of 28px and a list of fonts containing Helvetica and Times New Roman, with sans-serif as a fallback
*/
#clickme,
#clickmeinstead {
  font-family: "Helvetica", "Times New Roman", "sans-serif";
  font-size:28px;
}
#clickme{
  color: white;
  background-color: black;
}
#clickmeinstead{
  background-color: yellow;
}
