body {
  background: #eee;
  font-family: sans-serif;
  margin: 16px auto;
  box-sizing: border-box;
}

.card {
  width: 400px;
  background: #fff;
  margin: 12px auto;
  padding: 12px;
}

.title {
  background: #e3f4ff;
  margin: 8px auto;
  padding: 12px;
}

.content {
  background: #e3f4ff;
  margin: 8px auto;
  padding: 12px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px auto;
  padding: 16px;
}

button {
  margin-left: 135px;
  background: white;
  border: 1px solid #eee;
  padding: 10px;
}